Source: d2x
Section: games
Priority: extra
Maintainer: Bradley Bell <bradleyb@u.washington.edu>
Build-Depends: debhelper (>= 4), libsdl1.2-dev, nasm, libphysfs-dev
Standards-Version: 3.5.0

Package: d2x-common
Architecture: any
Suggests: d2x-sdl | d2x-gl
Description: Descent II, common files
 Descent II, common files.

Package: d2x-sdl
Architecture: any
Depends: ${shlibs:Depends}
Provides: d2x
Description: Descent II, SDL version
 Descent II, SDL version.

Package: d2x-gl
Architecture: any
Depends: ${shlibs:Depends}
Provides: d2x
Description: Descent II, OpenGL version
 Descent II, OpenGL version.
