name: Package All and Create Release
on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: Tag Name (new or existing)
        required: true
        type: string
      prerelease:
        description: Pre-release?
        default: true
        type: boolean

jobs:
  package:
    name: Package All
    uses: ./.github/workflows/ci.yml

  release:
    name: Create Release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    needs:
      - package
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Display Artifacts
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag_name }}
          prerelease: ${{ inputs.prerelease }}
          files: '*/*.zip'
